{% extends "masterpage.html" %} {% block title%} Jobzila Home{% endblock title%}
{% block maincontent %}
<section id="joblist-section">
    <h2>Blogs</h2>
    

    <div class="joblisting-div">

        {% for blog in blogs %}
        <div class="job-listing">
            <h3> <a href="{%url 'blogs:blogdetails' slug=blog.slug%}"> {{ blog.title }} </a></h3>
            <p>{{ blog.body }}</p>
            <p><strong>By Sadeed</strong> on {{ blog.date }}</p>
            <p class="learn-more"><a href="{%url 'blogs:blogdetails' slug=blog.slug%}">Read More</a></p>  
        </div>

        {% empty %}
              <p>No blogs found.</p>
            {% endfor %}
            

      
    </div>
  </section>
{% endblock %}
