{% extends "masterpage.html" %} {% block title%} Jobzila Home{% endblock title%}
{% block maincontent %}
<section id="joblist-section">
    <h2>{{ blog.title }}</h2>
    

    <div class="joblisting-div">

      
        <div class="job-listing">
            
            <p>{{ blog.body }}</p>
            <p><strong>By Sadeed</strong> on {{ blog.date }}</p>
            <p class="learn-more"><a href="/blogs">Back</a></p>  
        </div>

       
            

      
    </div>
  </section>
{% endblock %}
