{% extends "masterpage.html" %} {% block title%} Jobzila Home{% endblock title%}
{% block maincontent %}
<section id="joblist-section">
    <h2>{{ blog.title }}</h2>
    

    <div class="joblisting-div">

      
        <div class="job-listing">
            <div>
                <img width=500, height=500 src="{{blog.banner.url}}" alt="">
            </div>
            
            <p>{{ blog.body }}</p>
            <p><strong>{{blog.author}}</strong> on {{ blog.date }}</p>
            <p class="learn-more"><a href="{%url 'blogs:bloglist'%}">Back</a></p>  
        </div>

       
            

      
    </div>
  </section>
{% endblock %}
