<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%} JobZila{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style></style>
  </head>

  <body>
    <header>
      <h1>JobZila</h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/jobsearch">Job Search</a></li>
          <li><a href="/joblisting">Job Listing</a></li>
          <li><a href="/terms">Terms of service</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/contactus">Contact Us</a></li>
          <li><a href="{% url 'blogs:bloglist'%}">Blogs</a></li>
        </ul>
      </nav>
    </header>

    <main>{% block maincontent %}{% endblock %}</main>

    <footer>
      <p>
        &copy; 2024 My Job Board. All rights reserved. |
        <a href="/contactus">Contact </a> |<a href="/terms">Terms</a> |
        <a href="/privacy">Privacy</a>
      </p>
    </footer>
  </body>
</html>
