<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%} My First App {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="{% url 'posts:list' %}">My Post</a>
    </nav>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <p>Copy rights 2024</p>
    </footer>
  </body>
</html>
