{% extends "masterpage.html" %} {% block title%} Jobzila Home{% endblock title%}
{% block maincontent %}
<section id="joblist-section">
  <h2>Job Listing</h2>
  <div class="joblisting-div">


      {% for jobs in jobs %}
      <div class="job-listing">
          <h3>  {{ jobs.title }} </h3>
          <p>{{ jobs.company }}</p>
          <p>{{jobs.location}}</p>
          <p>{{jobs.description}}</p>
          <p class="learn-more"><a href="#">Read More</a></p>  
      </div>

      {% empty %}
            <p>No jobs found.</p>
          {% endfor %}


    
  </div>
</section>
{% endblock %}
